<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title" id="loginModalLabel">Login to House of Styles</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form method="post" action='/users/login' name="login_form">
            <div class="form-group">
                <div id="login-error-msg">
                    {{messageLogIn}}
                </div>
                
                <small class="form-text text-muted">We'll never share your email with anyone else.</small>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default">Email</span>
                    </div>
                    <input type="email" class="form-control" placeholder="Enter email" name="email" required>
                </div>

                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default">Password</span>
                    </div>
                    <input type="password" class="form-control" placeholder="Password" name="password" required>
                </div>


                {{!-- <label >Email address</label>
                <input type="email" class="form-control"  placeholder="Enter email" name="email" required>
                <small  class="form-text text-muted">We'll never share your email with anyone else.</small> --}}
            </div>
            {{!-- <div class="form-group">
                <label >Password</label>
                <input type="password" class="form-control" placeholder="Password" name="password" required>
            </div> --}}
            <p>
                
                <button type="submit" class="btn btn-dark">Sign in</button>
                <a href="#"><small>Forgot Password?</small></a>
            </p>
{{!--             
            <p> 
               &nbsp&nbsp Or 
            </p>
            <p>
                 Login with your Google or Facebook account:
            </p>
            <button>
            <i id="loginGoogle" class="fab fa-google fa-5x"></i>
            </button>
            <button>
            <i id="loginFacebook" class="fab fa-facebook fa-5x"></i>
            </button> 
            
--}}
        </form>
    </div>
    <div class="modal-footer">
        New To House of Styles
        <hr>
        <div>
            <button type="button" class="btn btn-outline-secondary my-2 my-sm-0" data-toggle="modal" data-target="#signupModal">Sign Up</button>
        </div>
    </div>
</div>