<footer>

    <div id="contact" class="container footerpage">
        {{!-- <h3>House of Style</h3> --}}
        <hr>
        <div class="row">
            <div class="col-md-4">
                <div class="card-group footer">
                    <div class="card">
                        <div class="card-body footerCard">
                            <p class="card-text-footer">
                                Wed - Sat: 10am - 6pm   
                                Sun - Mon: Closed <br>
                                Tue: Appointment Only</p>
                            <p class="card-text">
                                <small class="text-muted"></small>
                            </p>

                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="row">
                    <div class="col-md-4">
                        <div class="card-group footer">
                            <div class="card">
                                <div class="card-body footerCard">
                                    <div class="row">
                                        <div class="col">
                                            <!--facebook-->

                                            <a href="https://www.facebook.com/" target="_blank">
                                                <i class="fab fa-facebook fa-fw fa-2x"></i>
                                            </a>

                                        </div>

                                        <div class="col">
                                            <!--Instagram-->

                                            <a href="https://www.instagram.com/accounts/login/" target="_blank">

                                                <i class="fab fa-instagram fa-fw fa-2x"></i>
                                            </a>

                                        </div>

                                        <div class="col">
                                            <!--Twitter-->

                                            <a href="https://twitter.com/" target="_blank">

                                                <i class="fab fa-twitter fa-fw fa-2x"></i>
                                            </a>

                                        </div>


                                        <div class="col">
                                            <!--Place Call-->

                                            <a href="tel:8329286126">
                                                <i class="fas fa-phone fa-fw fa-2x"></i>
                                            </a>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card-group footer">
                    <div class="card">
                        <div class="card-body footerCard">
                            <p class="card-text-footer">
                                House of Style
                                <br> 18301 Egret Bay Blvd, Suite 1 Webster, Texas</p>
                            <p class="card-text">
                                <small class="text-muted"></small>
                            </p>

                        </div>
                    </div>
                </div>
            </div>

            <hr>
        </div>
        <div class="footText">
            <p> &copy; Copyright 2018 KiCKeM</p>
        </div>
</footer>