{{>navbar/nav}} 

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 >Hello Beautiful!</h1>
        <p class="lead">Come on in and visit our House of Style</p>
    </div>
</div>
<div class="row justify-content-center">
    <div class="container">
        <p class="intro">Make yourself at home. Our goal is to make you feel absolutely gorgeous. We love hair and we love you. So welcome. Take a look around, register on our site to book an appointment, or browse until you see something you like. We can't wait to make you feel at Home. </p>
    </div>
</div>

<div class="background-color1">
    <div class="break"></div>
    <div class="sectionRow" id="greeting">
        <div class="card-group">
            <div class="card sectionPic col-3">
                <img class="card-img " src="/assets/images/philosophy.jpg" alt="Philosophy Image">
            </div>
            <div class="card sectionBody col-9">
                <div class="card-body">
                    <h5 class="card-title sectionTitle">Philosophy</h5>
                    <p class="card-text">
                        At House of Style, we custom design services to fit your personality, fashion style, and positive self-image-—you are more
                        to us than just a head of hair or a pretty face. We strive to create a great style for you that compliments your sensibility,
                        bone structure, and body type. No matter what condition you are in when you arrive at our House, we want you to leave with
                        healthy, beautiful, wearable hair that you love and a style that puts some attitude in your step. Our team understands the
                        importance of continued education. Our team actively participates in state-of-the-art educational seminars across the country
                        as both instructors and students. Our senior staff serve as mentors within our house, teaching the latest hair and skin techniques,encouraging
                        development and skills to provide customers with the best style and service.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="break"></div>
    {{!-- <div class="sectionRow" id="infoSection">
        <div class="card-group">
            <div class="card sectionBody col-9">
                <div class="card-body">
                    <h5 class="card-title sectionTitle">Google</h5>
                    <p class="card-text">
                        embed data
                    </p>
                </div>
            </div>
            <div class="card sectionPic col-3">
                <img class="card-img " src="/assets/images/whisper.jpg" alt="Embedded Data">
            </div>
        </div>
        
    </div> --}}
</div>

<div class="background-color1">
    {{!-- Blank for picture --}}
    <div id="placeholder1" class="container">
        <div class="clearing">
        </div>
    </div>
</div>

<div class="background-color1">
    <div class="sectionRow" id="team">
        <div class="card-group">
            <div class="card sectionPic col-3">
                <img class="card-img " src="/assets/images/team1.jpg" alt="Team Image">
            </div>
            <div class="card sectionBody col-9">
                <div class="card-body">
                    <h5 class="card-title sectionTitle">The Home Team</h5>
                    <p class="card-text m-md-3">
                        At House of Style, our team is made up of a diverse group of stylists who possess a passion for health and the art of beauty. 
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="break"></div>
</div>

<div class="background-color1">
    {{!-- Blank for picture --}}
    <div id="placeholder2" class="container">
        <div class="clearing2">
        </div>
    </div>
</div>

<div class="background-color1">
    <div class="sectionRow" id="products1">
        <h5 class="card-title sectionTitle">Products</h5> 
        <div class="card">
            <div id="carouselJoico" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img class="d-block w-100 joicoImg" src="/assets/images/joico-1.jpg" alt="First slide">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100 joicoImg" src="/assets/images/joico-2.jpg" alt="Second slide">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100 joicoImg" src="/assets/images/joico-3.jpg" alt="Third slide">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100 joicoImg" src="/assets/images/joico-4.jpg" alt="fourth slide">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100 joicoImg" src="/assets/images/joico-5.jpg" alt="Fifth slide">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100 joicoImg" src="/assets/images/joico-6.jpg" alt="Sixth slide">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100 joicoImg" src="/assets/images/joico-7.jpg" alt="Seventh slide">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100 joicoImg" src="/assets/images/joico-8.jpg" alt="eighth slide">
                    </div>
                </div>
                <a class="carousel-control-next" href="#carouselJoico" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
                <p class="card-text">
                    Kelly's love of the Joico color line inspired her to create a house committed to using quality products for the best possible
                    results. 
                </p>
            </div>
        </div>  
    </div>
</div>
<div class="background-color1">
    <div class="sectionRow" id="products2">
        <div class="card">
            <img "card-img-top" id="bodyographyPic" src="/assets/images/bodyography.jpg" alt= "Bodyography">
            <div class="card ">
                <div class="card-body">
                    <p class="card-text">
                        When she was searching for a make-up line to include in the salon's product line, she selected Bodyography, a natural,
                        animal-cruelty-free line of cosmetics with an excellent education program.
                    </p>
                </div>
            </div>
        </div>  
    </div>
</div>

<div class="background-color1">
    {{!-- Blank for picture --}}
    <div id="placeholder4" class="container">
        <div class="clearing4">
        </div>
    </div>
</div>

<div class="background-color1">
    <div class="sectionRow" id="comments">
        <div class="card-group">
            <div class="card sectionBody col-9">
                <div class="card-body reviews">
                    <h5 class="card-title sectionTitle">What people are saying</h5>
                    <p class="card-text review">
                        "I drove from Dallas to Houston because when it comes to color, Kelly is the master! I have never left her salon disappointed." <small><i>Joanne</i></small>
                    </p>
                    <p class="card-text review">
                        "Wow! I am so glad I found someone that can cut curly hair!!! Love you girl!" <small><i>Stephanie</i></small>
                    </p>
                    <p class="card-text review">
                        "The only bad thing about House of Style is that there isn't enough Kelly to go around. Book early!" <small><i>Steve</i></small>
                    </p>
                </div>
            </div>
            <div class="card sectionPic col-3">
                <img class="card-img " src="/assets/images/whisper.jpg" alt="Embedded Data">
            </div>
        </div>
    </div>
</div>

{{!-- Appointment Success Modal --}}

<div class="modal fade" id="appointSuccess" tabindex="-1" role="dialog" aria-labelledby="signupModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">

    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="appointmentSuccess">{{appointmentMsg}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

      </div>
    </div>

  </div>
{{>footer}}