<div class="dropdown-divider"></div>
<a class="dropdown-item" data-toggle="modal" data-target="#providerModal">Add/Edit Provider</a>




<div class="dropdown-divider"></div>
<a class="dropdown-item" data-toggle="modal" data-target="#scheduleModal">Add/Edit Schedule</a>



<div class="dropdown-divider"></div>

<a class="dropdown-item" data-toggle="modal" data-target="#serviceModal">Add/Edit Service</a>

