  <div class="row" id="navPageLinks">
            <ul class="navbar-nav nav-pills">
                <li class="nav-item">
                    <a class="nav-link" href="#calendar">Calendar</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#messages">Messages</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#customers">Customers</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#transactions">Transactions</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#productInventory">Product Inventory</a>
                </li>
            </ul>
        </div>