  <div class="row" id="navPageLinks">
            <ul class="navbar-nav nav-pills">
                <li class="nav-item">
                    <a class="nav-link" href="#overview">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#featuredSytlist1">Stylist 1</a>
                </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#featuredSytlist2">Stylist 2</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="partners">Partners</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#contact">Constact</a>
                </li>
            </ul>
        </div>